#primary-menu ul {
	width: 100%;
}

nav a:hover, nav a.active {
	background: #f4f4f4;
}

a, .page-link {
	color: #0093f3;
}

a:hover {
	text-decoration: none;
}

body {
	color: #343a40;
}

.tpet {
	background-color: rgba(255,255,255,0.6);
}

.bg-baner {
	background-image: url('img/baner-2.jpg');
	background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

img.sizeing-img-post {
	width: 100%;
}

@media only screen and (min-width: 992px) {
	img.sizeing-img-post {
		width: 50%;
	}
}

@media only screen and (min-width: 1200px) {
	img.sizeing-img-post {
		width: 35%;
	}
}
